<!--
  - BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
  -
  - BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
  -
  - Copyright 2014-2020. A Different Kind, LLC
  -
  - Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
  - LICENSE: GNU General Public License v3.0
  -
  - Last Modified: 1/13/20, 2:35 AM
  -->

<template>
    <div aria-hidden="true" aria-labelledby="banEditFormModelLabel" class="modal fade text-left"
         id="banEditFormModel" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Ban</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label class="form-label-group" for="server">Server</label>
                                <select class="form-control" id="server" name="server" v-model="form.ban_server">
                                    <optgroup v-bind:label="game" v-for="(server, game) in servers">
                                        <option v-bind:value="s.ServerID" v-for="s in server">{{ s.ServerName }}
                                        </option>
                                    </optgroup>
                                </select>
                                <div class="alert alert-info mt-1">
                                    <p>
                                        Choose the server the ban should be applied on. If AdKats is configured to
                                        ban across all servers then you may pick any server, however, we recommend
                                        you choose the server they were a problem on for reference purposes.
                                    </p>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="form-label-group">Ban Type</label>
                                <div class="vs-radio-con">
                                    <input name="banType" type="radio" v-model="form.ban_type" value="perm">
                                    <span class="vs-radio">
                                              <span class="vs-radio--border"/>
                                              <span class="vs-radio--circle"/>
                                        </span>
                                    <span class="">Permanent Ban</span>
                                </div>
                                <div class="vs-radio-con">
                                    <input checked name="banType" type="radio" v-model="form.ban_type" value="temp">
                                    <span class="vs-radio">
                                              <span class="vs-radio--border"/>
                                              <span class="vs-radio--circle"/>
                                        </span>
                                    <span class="">Temporary Ban</span>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset v-show="form.ban_type == 'temp'">
                            <div class="form-group">
                                <label class="form-label-group">Ban Timeframe</label>
                                <br/>
                                <date-range-picker
                                        :autoApply="false"
                                        :linkedCalendars="true"
                                        :locale-data="{ firstDay: 1, format: '' }"
                                        :minDate="picker.minDate"
                                        :opens="'center'"
                                        :ranges="picker.ranges"
                                        :showDropdowns="true"
                                        :showWeekNumbers="true"
                                        :singleDatePicker="false"
                                        :timePicker="true"
                                        :timePicker24Hour="false"
                                        @toggle="pickerCheck"
                                        ref="picker"
                                        v-model="form.ban_daterange"
                                >
                                    <template style="min-width: 350px;" v-slot:input="picker">
                                        {{ moment(picker.startDate).format('LLL') }} - {{
                                        moment(picker.endDate).format('LLL') }}
                                    </template>
                                </date-range-picker>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="form-label-group" for="banReason">Ban Reason</label>
                                <div class="input-group">
                                    <input class="form-control" id="banReason"
                                           maxlength="500"
                                           name="banReason"
                                           placeholder="Enter the ban reason or choose from the list."
                                           type="text" v-model="form.ban_reason"/>
                                    <div class="input-group-append">
                                        <select class="form-control" style="width: 400px" v-model="premessageSelected">
                                            <option disabled selected value="">Choose from pre-defined list&hellip;
                                            </option>
                                            <option v-bind:value="m" v-for="m in premessages">{{ m }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="d-flex justify-content-start flex-wrap">
                                <div class="custom-control custom-switch switch-lg custom-switch-success mr-2 mb-1">
                                    <p class="mb-0">GUID Ban</p>
                                    <input class="custom-control-input" id="guid_ban" type="checkbox"
                                           v-model="form.ban_setting.guid"
                                           value="1">
                                    <label class="custom-control-label" for="guid_ban">
                                        <span class="switch-text-left">Enabled</span>
                                        <span class="switch-text-right">Disabled</span>
                                    </label>
                                </div>

                                <div class="custom-control custom-switch switch-lg custom-switch-success mr-2 mb-1">
                                    <p class="mb-0">IP Ban</p>
                                    <input class="custom-control-input" id="ip_ban" type="checkbox"
                                           v-model="form.ban_setting.ip"
                                           value="1">
                                    <label class="custom-control-label" for="ip_ban">
                                        <span class="switch-text-left">Enabled</span>
                                        <span class="switch-text-right">Disabled</span>
                                    </label>
                                </div>

                                <div class="custom-control custom-switch switch-lg custom-switch-success mr-2 mb-1">
                                    <p class="mb-0">Name Ban</p>
                                    <input class="custom-control-input" id="name_ban" type="checkbox"
                                           v-model="form.ban_setting.name"
                                           value="1">
                                    <label class="custom-control-label" for="name_ban">
                                        <span class="switch-text-left">Enabled</span>
                                        <span class="switch-text-right">Disabled</span>
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="form-label-group mb-0 mt-1">
                            <textarea class="form-control char-textarea" data-length=150 id="ban_notes" maxlength="150"
                                      placeholder="Enter any notes" rows="6" v-model="form.ban_notes"></textarea>
                            <label for="ban_notes">Ban Notes</label>
                            <small class="counter-value float-right"><span class="char-count">0</span> / 150 </small>
                        </fieldset>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Cancel</button>
                    <button @click="doTheSave" class="btn bg-gradient-success" type="button">Edit Ban</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>

<script>
    import DateRangePicker from "vue2-daterange-picker";
    import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'

    export default {
        name: "AdkatsEditBan",
        props: ['servers', 'premessages', 'ban'],
        components: {DateRangePicker},
        data() {
            return {
                premessageSelected: '',
                picker: {
                    minDate: moment(this.ban.ban_issued).toISOString(),
                    ranges: {
                        '30 Minutes': [moment(), moment().add(30, 'm')],
                        '1 Hour': [moment(), moment().add(1, 'h')],
                        '2 Hours': [moment(), moment().add(2, 'h')],
                        '3 Hours': [moment(), moment().add(3, 'h')],
                        '1 Day': [moment(), moment().add(1, 'd')],
                        '2 Days': [moment(), moment().add(2, 'd')],
                        '3 Days': [moment(), moment().add(3, 'd')],
                        '1 Week': [moment(), moment().add(1, 'w')],
                        '2 Weeks': [moment(), moment().add(2, 'w')],
                        '3 Weeks': [moment(), moment().add(3, 'w')],
                        '1 Month': [moment(), moment().add(1, 'M')],
                        '2 Months': [moment(), moment().add(2, 'M')],
                        '3 Months': [moment(), moment().add(3, 'M')]
                    }
                },
                form: {
                    accounts: [],
                    ban_type: this.ban.is_perm ? 'perm' : 'temp',
                    ban_reason: this.ban.record.record_message,
                    ban_server: this.ban.record.server_id,
                    ban_notes: this.ban.ban_notes,
                    ban_setting: {
                        guid: this.ban.ban_enforceGUID,
                        ip: this.ban.ban_enforceIP,
                        name: this.ban.ban_enforceName
                    },
                    ban_daterange: {
                        startDate: moment(this.ban.ban_issued).toISOString(),
                        endDate: moment(this.ban.ban_expires).toISOString()
                    }
                }
            }
        },
        watch: {
            premessageSelected: function (v) {
                this.form.ban_reason = v;
            }
        },
        methods: {
            pickerCheck: (show, event) => {
                let pickerDiv = $('.vue-daterange-picker');
                if (show) {
                    pickerDiv.css('padding-bottom', '30%');
                    pickerDiv.css('padding-left', '20%');
                } else {
                    pickerDiv.css('padding-bottom', '');
                    pickerDiv.css('padding-left', '');
                }
            },
            doTheSave: function () {
                alert("Normally this would save the ban, but it's not implemented yet.")
            }
        }
    }
</script>

<style scoped>
    .daterangepicker .calendar-table {
        color: black !important;
    }
</style>