/*!
 * BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
 *
 * BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
 *
 * Copyright 2014-2019. A Different Kind, LLC
 *
 * Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
 * LICENSE: GNU General Public License v3.0
 *
 * Last Modified: 12/31/19, 8:57 PM
 */

@import "ball-scale";

.ball-scale-random {
  width: 37px;
  height: 40px;

  > div {
    @include balls();
    @include global-animation();

    position: absolute;
    display: inline-block;
    height: 30px;
    width: 30px;
    animation: ball-scale 1s 0s ease-in-out infinite;

    &:nth-child(1) {
      margin-left: -7px;
      animation: ball-scale 1s 0.2s ease-in-out infinite;
    }

    &:nth-child(3) {
      margin-left: -2px;
      margin-top: 9px;
      animation: ball-scale 1s 0.5s ease-in-out infinite;
    }
  }
}
