/*!
 * BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
 *
 * BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
 *
 * Copyright 2014-2019. A Different Kind, LLC
 *
 * Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
 * LICENSE: GNU General Public License v3.0
 *
 * Last Modified: 10/4/19, 6:06 AM
 */

// Alerts

.alert {
  font-weight: 500;
  border: none;

  // close

  .close:focus{
    outline: 0;
  }

  // For Alert Content
  p {
    font-weight: 500;
    padding: 2px 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

  span{
    vertical-align: middle;
  }

  // For alert heading
  .alert-heading {
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0;
    padding-bottom: 8px;
  }

  // For dark alert

  &.alert-dark {
    .alert-heading {
      @include alert-heading-bs($dark);
    }
  }

  // For light alert

  &.alert-light {
    .alert-heading {
      @include alert-heading-bs($light);
    }
  }
}
