/*!
 * BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
 *
 * BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
 *
 * Copyright 2014-2019. A Different Kind, LLC
 *
 * Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
 * LICENSE: GNU General Public License v3.0
 *
 * Last Modified: 10/4/19, 6:06 AM
 */

.media-list{
	.media{
		padding: 1.25rem;
		width: 100%;
		margin-top: 0;
		.media-left{
			padding-right: 1rem
		}
		.media-right{
			padding-left: 1rem;
		}
	}
	a.media{
		color: $gray-600 !important;
	}
}

.media-bordered{
	.media{
		border-top: 1px solid $custom-border-color;
		&:first-child{
			border-top: 0;
		}
	}
}
