<!--
  - BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
  -
  - BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
  -
  - Copyright 2014-2020. A Different Kind, LLC
  -
  - Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
  - LICENSE: GNU General Public License v3.0
  -
  - Last Modified: 7/1/20, 7:30 PM
  -->

<template>
    <div>
        <div class="spinner-grow spinner-grow-sm text-info" role="status" v-if="loading">
            <span class="sr-only">Loading...</span>
        </div>
        <div v-if="!loading">
            <table class="table table-condensed table-dark">
                <thead>
                <tr>
                    <td>Proxy</td>
                    <td>Risk</td>
                    <td>Block</td>
                    <td>Block Reason</td>
                    <td>Location</td>
                </tr>
                </thead>
                <tr>
                    <td>{{ proxyip[ipaddr].proxy }}</td>
                    <td>{{ proxyip[ipaddr].risk }}</td>
                    <td>{{ proxyip.block }}</td>
                    <td>{{ proxyip.block_reason }}</td>
                    <td>{{ proxyip[ipaddr].city }}, {{ proxyip[ipaddr].regioncode }}, {{ proxyip[ipaddr].isocode }}</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PlayerProxyCheck",
        props: ['ipaddr'],
        created() {
            bfacp.$emit('IPProxyCheck', {
                proxyip: this.proxyip,
                loading: this.loading,
            });
        },
        data() {
            return {
                proxyip: null,
                loading: true,
                gmap: null
            }
        },
        mounted() {
            this.getProxyCheckInfo();
        },
        methods: {
            getProxyCheckInfo: function () {
                axios.get('api/auth/player/ipcheck/' + this.ipaddr).then(response => {
                    this.proxyip = response.data.data;
                    this.loading = false;
                    bfacp.$emit('IPProxyCheck', {
                        proxyip: this.proxyip,
                        loading: this.loading,
                    });

                    this.gmap = new GMaps({
                        div: '#proxycheck-map',
                        lat: this.proxyip[this.ipaddr].latitude,
                        lng: this.proxyip[this.ipaddr].longitude,
                        zoom: 7
                    }).addMarker({
                        lat: this.proxyip[this.ipaddr].latitude,
                        lng: this.proxyip[this.ipaddr].longitude
                    })
                }).catch(function (error) {
                    console.log(error);
                    setTimeout(this.getProxyCheckInfo, this.randomIntFromInterval(1, 60) * 1000);
                });
            }
        }
    }
</script>

<style scoped>

</style>
