<!--
  - BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
  -
  - BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
  -
  - Copyright 2014-2020. A Different Kind, LLC
  -
  - Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
  - LICENSE: GNU General Public License v3.0
  -
  - Last Modified: 1/17/20, 9:10 AM
  -->

<template>
    <div aria-expanded="false" aria-labelledby="linkedAccounts" class="tab-pane" id="linkedAccounts" role="tabpanel">
        <div class="table-responsive">
            <table class="table" id="linked-accounts-table" style="width:100%">
                <thead>
                <tr>
                    <td colspan="2">Name</td>
                    <td>Last Updated</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="account in accounts">
                    <td><span v-bind:class="account.game.class_css"
                              v-text="account.game.Name"/></td>
                    <td><a v-bind:href="account.profile_url"
                           v-text="account.SoldierName"/></td>
                    <td v-bind:title="moment(account.stamp).fromNow()">
                        {{ moment(account.stamp).format('llll') }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PlayerLinkedAccounts",
        created() {
            bfacp.$emit('UpdateAccounts', {
                accounts: this.accounts,
                loading: this.loading,
                hasAccounts: this.hasAliases
            });
        },
        data() {
            return {
                accounts: null,
                loading: true,
                hasAccounts: false
            }
        },
        mounted() {
            this.getAccounts();
        },
        methods: {
            getAccounts: function () {
                axios.get('api/auth/player/' + Player.PlayerID + '/linked').then(response => {
                    this.accounts = response.data.data;
                    this.loading = false;
                    this.hasAccounts = this.accounts.length > 0;
                    bfacp.$emit('UpdateAccounts', {
                        accounts: this.accounts,
                        loading: this.loading,
                        hasAccounts: this.hasAccounts
                    });
                }).catch(function (error) {
                    setTimeout(this.getAccounts, this.randomIntFromInterval(1, 60) * 1000);
                });
            }
        }
    }
</script>

<style scoped>

</style>