<!--
  - BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
  -
  - BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
  -
  - Copyright 2014-2020. A Different Kind, LLC
  -
  - Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
  - LICENSE: GNU General Public License v3.0
  -
  - Last Modified: 1/17/20, 9:10 AM
  -->

<template>
    <div aria-expanded="false" aria-labelledby="aliasesTable" class="tab-pane" id="aliasesTable" role="tabpanel">
        <div id="aliases-graph"></div>

        <div class="table-responsive mt-1">
            <table class="table" id="aliases-usage-table" style="width:100%">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Used</td>
                </tr>
                </thead>
                <tbody v-if="hasAliases">
                <tr v-for="a in aliases.list">
                    <td v-text="a.player_name"/>
                    <td v-text="a.seen"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PlayerAliases",
        created() {
            bfacp.$emit('UpdateAliases', {
                aliases: this.aliases,
                loading: this.loading,
                hasAliases: this.hasAliases
            });
        },
        data() {
            return {
                aliases: null,
                loading: true,
                hasAliases: false
            }
        },
        mounted() {
            this.getAliases();
        },
        methods: {
            getAliases: function () {
                axios.get('api/auth/player/' + Player.PlayerID + '/aliases').then(response => {
                    this.aliases = response.data.data;
                    this.hasAliases = this.aliases.list.length > 0;
                    this.loading = false;

                    bfacp.$emit('UpdateAliases', {
                        aliases: this.aliases,
                        loading: this.loading,
                        hasAliases: this.hasAliases
                    });

                    if (!this.hasAliases) {
                        return false;
                    }

                    let options = {
                        chart: {
                            height: 450,
                            type: 'bar'
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    position: 'top', // top, center, bottom
                                },
                                distributed: true
                            }
                        },
                        dataLabels: {
                            enabled: true,
                            formatter: function (val) {
                                return val.toLocaleString();
                            },
                            offsetY: -20,
                            style: {
                                fontSize: '12px',
                                colors: ["#304758"]
                            }
                        },
                        series: [{
                            name: 'Used',
                            data: this.aliases.graph.series
                        }],
                        xaxis: {
                            categories: this.aliases.graph.labels,
                            position: 'bottom',
                            labels: {
                                show: false,
                                offsetY: 0,
                                rotate: -90

                            },
                            axisBorder: {
                                show: false
                            },
                            axisTicks: {
                                show: false
                            },
                            crosshairs: {
                                fill: {
                                    type: 'gradient',
                                    gradient: {
                                        colorFrom: '#D8E3F0',
                                        colorTo: '#BED1E6',
                                        stops: [0, 100],
                                        opacityFrom: 0.4,
                                        opacityTo: 0.5,
                                    }
                                }
                            },
                            tooltip: {
                                enabled: true,
                                offsetY: -35,

                            }
                        },
                        fill: {
                            gradient: {
                                shade: 'dark',
                                type: "horizontal",
                                shadeIntensity: 0.25,
                                gradientToColors: undefined,
                                inverseColors: true,
                                opacityFrom: 1,
                                opacityTo: 1,
                                stops: [50, 0, 100, 100]
                            },
                        },
                        yaxis: {
                            axisBorder: {
                                show: false
                            },
                            axisTicks: {
                                show: false,
                            },
                            labels: {
                                show: false,
                                formatter: function (val) {
                                    return val.toLocaleString();
                                }
                            }

                        }
                    };

                    let chart = new ApexCharts(
                        document.querySelector("#aliases-graph"),
                        options
                    );

                    // Delay the chart render for 300 milliseconds
                    setTimeout(function () {
                        chart.render();
                        $('#aliases-usage-table').DataTable({
                            "order": [[1, 'desc']]
                        });
                    }, 300);
                }).catch(error => {
                    setTimeout(this.getAliases, this.randomIntFromInterval(1, 60) * 1000);
                });
            }
        }
    }
</script>

<style scoped>

</style>