<!--
  - BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
  -
  - BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
  -
  - Copyright 2014-2020. A Different Kind, LLC
  -
  - Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
  - LICENSE: GNU General Public License v3.0
  -
  - Last Modified: 1/17/20, 9:10 AM
  -->

<template>
    <div aria-labelledby="cmdOverview" class="tab-pane" id="cmdOverview" role="tabpanel">
        <div class="alert alert-warning" role="alert" v-show="!hasGraphData">
            <i class="fa fa-info-circle"/>
            <p>No history to show.</p>
        </div>
        <div id="command-history-overview" v-show="hasGraphData"></div>
    </div>
</template>

<script>
    export default {
        name: "PlayerCommandsOverview",
        created() {
            bfacp.$emit('UpdateCommands', {
                commands: this.commands,
                loading: this.loading,
                hasGraphData: this.hasGraphData
            });
        },
        data() {
            return {
                commands: null,
                loading: true,
                hasGraphData: false
            }
        },
        mounted() {
            this.checkPlayer();
        },
        methods: {
            checkPlayer: function () {
                axios.get('api/auth/player/' + Player.PlayerID + '/commandOverview').then(response => {
                    this.commands = response.data.data;
                    this.loading = false;
                    this.hasGraphData = this.commands.series !== undefined && this.commands.series.length > 0;

                    bfacp.$emit('UpdateCommands', {
                        commands: this.commands,
                        loading: this.loading,
                        hasGraphData: this.hasGraphData
                    });

                    if (!this.hasGraphData) {
                        return false;
                    }

                    let options = {
                        chart: {
                            height: 450,
                            type: 'bar'
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    position: 'top', // top, center, bottom
                                },
                                distributed: true
                            }
                        },
                        dataLabels: {
                            enabled: true,
                            formatter: function (val) {
                                return val.toLocaleString();
                            },
                            offsetY: -20,
                            style: {
                                fontSize: '12px',
                                colors: ["#304758"]
                            }
                        },
                        series: [{
                            name: 'Used',
                            data: this.commands.series
                        }],
                        xaxis: {
                            categories: this.commands.labels,
                            position: 'bottom',
                            labels: {
                                offsetY: 0,
                                rotate: -90

                            },
                            axisBorder: {
                                show: false
                            },
                            axisTicks: {
                                show: false
                            },
                            crosshairs: {
                                fill: {
                                    type: 'gradient',
                                    gradient: {
                                        colorFrom: '#D8E3F0',
                                        colorTo: '#BED1E6',
                                        stops: [0, 100],
                                        opacityFrom: 0.4,
                                        opacityTo: 0.5,
                                    }
                                }
                            },
                            tooltip: {
                                enabled: true,
                                offsetY: -35,

                            }
                        },
                        fill: {
                            gradient: {
                                shade: 'dark',
                                type: "horizontal",
                                shadeIntensity: 0.25,
                                gradientToColors: undefined,
                                inverseColors: true,
                                opacityFrom: 1,
                                opacityTo: 1,
                                stops: [50, 0, 100, 100]
                            },
                        },
                        yaxis: {
                            axisBorder: {
                                show: false
                            },
                            axisTicks: {
                                show: false,
                            },
                            labels: {
                                show: false,
                                formatter: function (val) {
                                    return val.toLocaleString();
                                }
                            }

                        }
                    };

                    let chart = new ApexCharts(
                        document.querySelector("#command-history-overview"),
                        options
                    );

                    // Delay the chart render for 300 milliseconds
                    setTimeout(function () {
                        chart.render();
                    }, 300);
                }).catch(error => {
                    setTimeout(this.checkPlayer, this.randomIntFromInterval(1, 60) * 1000);
                });
            }
        }
    }
</script>

<style scoped>

</style>