<!--
  - BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
  -
  - BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
  -
  - Copyright 2014-2020. A Different Kind, LLC
  -
  - Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
  - LICENSE: GNU General Public License v3.0
  -
  - Last Modified: 1/19/20, 1:47 AM
  -->

<template>
    <card :use-body="false" :use-footer="true" :use-header="true">
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Player</th>
                    <th>Status</th>
                    <th>Issued</th>
                    <th>Expires</th>
                </tr>
                </thead>

                <tbody>
                <tr :value="ban.ban_id" v-for="ban in bans">
                    <td>{{ ban.ban_id }}</td>
                    <td>
                            <span class="badge badge-danger" v-if="ban.player.SoldierName === null">
                                PLAYER_NAME_MISSING
                            </span>
                        <a v-bind:href="ban.player.profile_url" v-else>
                            {{ ban.player.SoldierName }}
                        </a>
                    </td>
                    <td>
                            <span class="badge badge-pill" v-bind:class="ban.color_class.backend.badge">
                                {{ ban.ban_status }}
                            </span>
                    </td>
                    <td>
                            <span data-toggle="tooltip"
                                  v-bind:data-original-title="moment(ban.ban_issued).format('LLL')">
                                {{ moment(ban.ban_issued).fromNow() }}
                            </span>
                    </td>

                    <td>
                            <span data-toggle="tooltip"
                                  v-bind:data-original-title="moment(ban.ban_expires).format('LLL')">
                                {{ moment(ban.ban_expires).fromNow() }}
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <template v-if="response" v-slot:cardfooter>
            <pagination :align="'center'" :data="response" :limit="3" @pagination-change-page="getBanlist">
                <span slot="prev-nav">&lt; Previous</span>
                <span slot="next-nav">Next &gt;</span>
            </pagination>
        </template>
    </card>
</template>

<script>
    export default {
        name: "AdminAdkatsBanList",
        data() {
            return {
                bans: null,
                response: null
            }
        },
        beforeMount() {
            this.getBanlist()
        },
        updated() {
            $('[data-toggle="tooltip"]').tooltip({
                container: "body"
            });
        },
        methods: {
            getBanlist: function (page = 1) {
                axios.get('/api/adkats/ban?limit=15&page=' + page).then(response => {
                    this.bans = response.data.data;
                    this.response = response.data;
                }).catch(function (error) {
                    setTimeout(this.getBanlist, this.randomIntFromInterval(1, 60) * 1000);
                })
            }
        }
    }
</script>

<style scoped>

</style>